#General
.htaccess
public/.well-known
public/.htaccess
**/phpinfo.php

#macOS
*.DS_Store
Icon?

#GIT
*.orig
*.patch

#Apps
.com.greenworldsoft.syncfolderspro
venv/*
.vscode/*
.dropbox
.netbeans.xml
.idea
.gradle
.editorconfig

#Composer
composer.lock
composer.phar
/vendor

#cPanel
**/.ftpquota
**/php.ini
**/error_log
**/.user.ini
**/cgi-bin
